---
# The scss file which include files from _sass/
---

@charset "utf-8";

@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Open Sans Pro', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  min-height: 100%;
}

p {
  margin: 0;
}

ul { 
  margin: 0;
  padding: 0;
  list-style: none;
}

@import 'thtrm-constraint',
        'thtrm-header',
        'thtrm-banner',
        'thtrm-section',
        'thtrm-table-layout',
        'thtrm-instructor',
        'thtrm-cta',
        'thtrm-footer',
        'solarized-dark',

        'thtrm-promo-item',
        'thtrm-category-badge',
        'thtrm-article-card',
        'thtrm-article',
        'thtrm-subscriber',
        'thtrm-toc',
        'thtrm-social-links',
        'custom';
