---
layout: default
title: Git articles by thoughtram
description: This is a curated list of all of our high-quality articles with tips and tricks about Git!
permalink: /categories/git/
---

<h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Git articles</h2>
<ul class="thtrm-three-column-list thtrm-three-column-list--with-padding">
{% for post in site.posts %}
  {% if post.tags contains 'git' %}
  <li>
    <div class="thtrm-article-card thtrm-article-card--with-border">
      <div class="thtrm-article-card-content ">
        <h2>{{ post.title }}</h2>
        <p>{{ post.summary | truncatewords: 20 }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}" class="thtrm-cta thtrm-cta--small">Read More</a>
      </div>
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>
