---
layout: exploring-angular-2
title: Exploring Angular 2
permalink: /exploring-angular-2/
---

<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="getting-started" class="thtrm-m-section__sub-headline">Getting Started</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'getting-started' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
        </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="di" class="thtrm-m-section__sub-headline">Dependency Injection</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'di' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="routing" class="thtrm-m-section__sub-headline">Routing</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'routing' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="forms" class="thtrm-m-section__sub-headline">Forms</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'forms' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="rendering" class="thtrm-m-section__sub-headline">Views and Rendering</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'views' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="http-and-observables" class="thtrm-m-section__sub-headline">Http and Observables</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'http' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="change-detection" class="thtrm-m-section__sub-headline">Change Detection</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'changedetection' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="upgrade" class="thtrm-m-section__sub-headline">Migration / Upgrade</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'upgrade' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<section class="thtrm-m-section thtrm-m-section--thin">
  <div class="thtrm-l-constraint">
    <h2 id="others" class="thtrm-m-section__sub-headline">Others</h2>
    <ul class="thtrm-m-article-list">
      {% for post in site.posts %}
        {% if post.tags contains 'angular2' %}
          {% if post.topic == 'others' %}
      <li class="thtrm-m-article-list__item">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="thtrm-m-article-list__item__content">
          <h4 class="thtrm-m-article-list__item__title">{{post.title}}</h4>
          <p class="thtrm-m-article-list__item__summary">{{post.summary}}</p>
        </div>
          </a>
      </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
