---
layout: default
---
<section class="thtrm-m-section">
  <div class="thtrm-l-constraint">
    <div class="thtrm-m-section__content thtrm-m-section__content--blog-index">
      <a class="thtrm-m-rss-link" title="RSS Feed" href="http://feeds.feedburner.com/thoughtram"><i class="fa fa-rss"></i> RSS Feed</a>
      <p class="thtrm-m-categories-text">Only interested in <a title="Angular articles by thoughtram" href="/categories/angular/">AngularJS</a>, <a title="Angular 2 articles by thoughtram" href="/categories/angular-2/">Angular 2</a> or <a title="Git articles by thoughtram" href="/categories/git">Git</a>?</p>
      {% for post in paginator.posts %}
        <div class="thtrm-m-article">
          <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
            <p class="thtrm-m-article__date">{{ post.date | date: "%b %-d, %Y" }}</p>
            <h2 class="thtrm-m-article__title">{{ post.title }}</h2>
            <p class="thtrm-m-article__summary">{{ post.summary }}</p>
          </a>
        </div>
      {% endfor %}
      {% include pagination.html %}
    </div>
  </div>
</section>
