---
layout: default
---

<div class="thtrm-search">
  <form id="search-form" method="GET" action="https://www.google.com/search">
    <input id="search-term" type="search" name="as_q" placeholder="Search...">
    <input type="hidden" name="as_sitesearch" value="blog.thoughtram.io">
    <button type="submit" class="thtrm-cta thtrm-cta--small">Go</button>
  </form>
</div>
<h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Latest</h2>

  <div class="thtrm-table-layout">
    <div class="thtrm-table-layout-row thtrm-table-layout-row--with-two-columns thtrm-table-layout-row--2-3">
      <div class="thtrm-table-layout-cell">
        <a title="{{site.posts[0].title}}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,#29383E 100%), url('{% if site.posts[0].imageUrl %}{{site.posts[0].imageUrl}}{% else %}images/banner/fallback.jpeg{% endif %}');" href="{{site.posts[0].url | prepend: site.baseurl }}" class="thtrm-promo-item">
          <div class="thtrm-promo-item-info">

            {% assign categories = site.posts[0].categories %}
            {% include category-badge.html categories=categories %}

            <h2>{{site.posts[0].title}}</h2>
            <span><i class="material-icons">schedule</i> {{ site.posts[0].date | date: "%b %-d, %Y" }}</span>
            <span class="thtrm-promo-item-info-author">
              <i class="material-icons">create</i>
              {% assign author = site.posts[0].author %}
              {% include author.html author=author  %}
            </span>
          </div>
        </a>

      </div>
      <div class="thtrm-table-layout-cell">
        <a title="{{site.posts.[1].title}}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,#29383E 100%), url('{% if site.posts[1].imageUrl %}{{site.posts[1].imageUrl}}{% else %}/images/banner/fallback.jpeg{% endif %}');" href="{{site.posts[1].url | prepend: site.baseurl }}" class="thtrm-promo-item thtrm-promo-item--sub">
          <div class="thtrm-promo-item-info">
            {% assign categories = site.posts[1].categories %}
            {% include category-badge.html categories=categories %}

            <h3>{{site.posts[1].title}}</h3>
            <span><i class="material-icons">schedule</i> {{ site.posts[1].date | date: "%b %-d, %Y" }}</span>

            <span class="thtrm-promo-item-info-author">
              <i class="material-icons">create</i>
              {% assign author = site.posts[1].author %}
              {% include author.html author=author  %}
            </span>
          </div>
        </a>
        <a title="{{site.posts.[2].title}}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,#29383E 100%), url('{% if site.posts[2].imageUrl %}{{site.posts[2].imageUrl}}{% else %}/images/banner/fallback.jpeg{% endif %}');" href="{{site.posts[2].url | prepend: site.baseurl }}" class="thtrm-promo-item thtrm-promo-item--sub">
          <div class="thtrm-promo-item-info">

            {% assign categories = site.posts[2].categories %}
            {% include category-badge.html categories=categories %}

            <h3>{{site.posts[2].title}}</h3>
            <span><i class="material-icons">schedule</i> {{ site.posts[2].date | date: "%b %-d, %Y" }}</span>

            <span class="thtrm-promo-item-info-author">
              <i class="material-icons">create</i>
              {% assign author = site.posts[2].author %}
              {% include author.html author=author  %}
            </span>
          </div>
        </a>

      </div>
    </div>
  </div>
</div>
<div class="thtrm-constraint">

  {% include newsletter-subscriber.html %}

  <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">More Articles</h2>
  <div class="thtrm-table-layout">
    <div class="thtrm-table-layout-row thtrm-table-layout-row--with-two-columns thtrm-table-layout-row--with-two-columns--with-padding">
      <div class="thtrm-table-layout-cell">

        <a class="thtrm-article-card" href="{{ site.posts[3].url | prepend: site.baseurl }}" title="{{site.posts[3].title}}">
          <div class="thtrm-article-card-image" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,#29383E 100%),url({% if site.posts[3].imageUrl %}{{ site.posts[3].imageUrl }}{% else %}/images/banner/fallback.jpeg{% endif %});"></div>
          <div class="thtrm-article-card-content">

            <span class="thtrm-article-card-date"><i class="material-icons">schedule</i> {{ site.posts[3].date | date: "%b %-d, %Y" }}</span>

            <span class="thtrm-article-card-author">
              <i class="material-icons">create</i>
              {% assign author = site.posts[3].author %}
              {% include author.html author=author  %}
            </span>

            <h2>{{ site.posts[3].title }}</h2>
            <p>{{ site.posts[3].summary}}</p>
          </div>
        </a>

      </div>
      <div class="thtrm-table-layout-cell">
        <ul class="thtrm-article-card-list">
        {% for post in paginator.posts | offset:4 limit:(paginator.posts.size-6)  %}
        <li>
          <a class="thtrm-article-card" href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">
            <div class="thtrm-article-card-content">
              <span><i class="material-icons">schedule</i> {{ post.date | date: "%b %-d, %Y" }}</span>

              <span>
                <i class="material-icons">create</i>
                {% include author.html author=post.author  %}
              </span>
              <h3>{{ post.title }}</h3>
              <p>{{ post.summary }}</p>
            </div>
          </a>
        </li>
        {% endfor %}
        </ul>
        <div class="thtrm-cta-bar">
          <a href="/all/" title="All articles" class="thtrm-cta thtrm-cta--small">All articles</a>
        </div>
      </div>
    </div>
  </div>
  <div class="thtrm-subscriber thtrm-subscriber--no-border">
    <p>Subscribe to our <a href="http://feeds.feedburner.com/thoughtram" title="RSS Feed">RSS Feed</a></p>
  </div>
  <section class="thtrm-section thtrm-section--is-promo">
    <img width="100" src="/images/angular2-shield-inverse.svg">
    <h3 class="thtrm-section-headline">Angular Master Class</h3>
    <p class="thtrm-section-text">Learn Angular in one of our upcoming public trainings or in-house workshops.</p>
    <a href="http://thoughtram.io/angular2-master-class.html" title="Angular Master Class" class="thtrm-layout-divider-cta">Join now</a>
  </section>
  <h2 class="thtrm-section-headline thtrm-section-headline--with-margin thtrm-section-headline--with-border">Angular</h2>
  <ul class="thtrm-three-column-list">
  {% assign counter = 0 %}
  {% for post in site.posts %}
    {% if post.tags contains 'angular2' %}
    {% assign counter = counter | plus: 1 %}
    {% if counter <= 6 %}
    {% include article-card.html post=post  %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
  <div class="thtrm-cta-bar">
    <a href="/categories/angular-2" title="Angular articles" class="thtrm-cta thtrm-cta--small">All articles</a>
  </div>
  <h2 class="thtrm-section-headline thtrm-section-headline--with-margin thtrm-section-headline--with-border">Git</h2>
  <ul class="thtrm-three-column-list">
  {% assign counter = 0 %}
  {% for post in site.posts %}
    {% if post.tags contains 'git' %}
    {% assign counter = counter | plus: 1 %}
    {% if counter <= 6 %}
    {% include article-card.html post=post  %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
  <div class="thtrm-cta-bar">
    <a href="/categories/git/" title="All Git articles" class="thtrm-cta thtrm-cta--small">All articles</a>
  </div>
  <h2 class="thtrm-section-headline thtrm-section-headline--with-margin thtrm-section-headline--with-border">Exploring Angular 1.3</h2>
  <ul class="thtrm-three-column-list">
  {% assign counter = 0 %}
  {% for post in site.posts %}
    {% if post.isExploringAngular13Article %}
    {% assign counter = counter | plus: 1 %}
    {% if counter <= 6 %}
    {% include article-card.html post=post  %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
  <div class="thtrm-cta-bar">
    <a href="/exploring-angular-1.3" title="Exploring Angular 1.3" class="thtrm-cta thtrm-cta--small">All articles</a>
  </div>

  <section class="thtrm-section thtrm-section--is-promo thtrm-section">
    <img width="100" src="/images/5-things-bw-white.png">
    <h3 class="thtrm-section-headline">5thingsAngular</h3>
    <p class="thtrm-section-text">Get weekly updates on the latest and greatest happenings in the Angular world by thoughtram!</p>
    <a href="http://5thingsAngular.github.io" title="5thingsAngular" class="thtrm-layout-divider-cta">Tell me more</a>
  </section>

  <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Authors</h2>
  <div class="thtrm-table-layout">
    <div class="thtrm-table-layout-row thtrm-table-layout-row--with-three-columns thtrm-table-layout-row--with-three-columns--with-padding">
      <div class="thtrm-table-layout-cell">
        <div class="thtrm-instructor thtrm-instructor--christoph thtrm-instructor--has-overlay">
          <i class="thtrm-instructor-overlay-trigger material-icons">keyboard_arrow_down</i>
          <div class="thtrm-instructor-content">
            <h3 class="thtrm-instructor-name">Christoph Burgdorf</h3>
            <p class="thtrm-instructor-text thtrm-instructor-text--small">AngularJS Contributor and Angular Docs Author</p>
          </div>
          <div class="thtrm-instructor-overlay">
            <p class="thtrm-instructor-text">Christoph began programming at the age of 10. He is the creator of the Nickel.rs web framework and a contributor of the AngularJS project. Christoph is also part of the Angular Docs Authoring team.</p>
            <p><a class="thtrm-instructor-cta" href="http://twitter.com/cburgdorf" title="Christoph Burgdorf on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/cburgdorf" title="Christoph Burgdorf on GitHub">GitHub</a></p>
          </div>
        </div>
      </div>
      <div class="thtrm-table-layout-cell">
        <div class="thtrm-instructor thtrm-instructor--thomas thtrm-instructor--has-overlay">
          <div class="thtrm-instructor-content">
            <h3 class="thtrm-instructor-name">Thomas Burleson</h3>
            <p class="thtrm-instructor-text thtrm-instructor-text--small">Team Lead for Angular Material</p>
          </div>
          <i class="thtrm-instructor-overlay-trigger material-icons">keyboard_arrow_down</i>
          <div class="thtrm-instructor-overlay">
            <p class="thtrm-instructor-text ">Thomas was a late bloomer; programming at 24. He is a autodidact technologist with a passion for Angular, UX, and great software. Thomas is the Team Lead for Angular Material. He loves teaching, mentoring, and working with Angular developers.</p>
            <p><a class="thtrm-instructor-cta" href="http://twitter.com/thomasburleson" title="Thomas Burleson on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/thomasburleson" title="Thomas Burleson on GitHub">GitHub</a></p>
          </div>
        </div>
      </div>
      <div class="thtrm-table-layout-cell">
        <div class="thtrm-instructor thtrm-instructor--pascal thtrm-instructor--has-overlay">
          <i class="thtrm-instructor-overlay-trigger material-icons">keyboard_arrow_down</i>
          <div class="thtrm-instructor-content">
            <h3 class="thtrm-instructor-name">Pascal Precht</h3>
            <p class="thtrm-instructor-text thtrm-instructor-text--small">Google Developer Expert for the Angular Team</p>
          </div>
          <div class="thtrm-instructor-overlay">
            <p class="thtrm-instructor-text">Pascal is a front-end engineer and a Angular Developer Expert nominated by Google. He created the angular-translate module, is an Angular contributor and also part of the Angular Docs Authoring team.</p>
            <p><a class="thtrm-instructor-cta" href="http://twitter.com/PascalPrecht" title="Pascal Precht on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/PascalPrecht" title="Pascal Precht on GitHub">GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
