.thtrm-button,
[class^=thtrm-button],
[class*=thtrm-button] {
	border: none;
	background-color: var(--thtrm-color-darkblue);
	color: var(--thtrm-color-white);
	display: inline-block;
	font-weight: var(--thtrm-base-fontweight);
	font-size: inherit;
	padding: .5rem 1rem;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.thtrm-button--bordered {
	border: 4px solid;
	background-color: transparent;
}

.thtrm-button--ghost {
	background-color: transparent;
	color: inherit;
	padding: .25rem;
}
