.thtrm-layout {
  display: grid;
  grid-gap: 1rem;
  padding:1rem;
  width: 100%;

  &.thtrm-layout-halfs {
    grid-template-columns: 1fr;
  }
  &.thtrm-layout-thirds {
    grid-template-columns: 1fr;
  }
  &.thtrm-layout-fourths {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: $thtrm-media-phablet) {
  .thtrm-layout {
    &.thtrm-layout-halfs {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-thirds {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-fourths {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (min-width: $thtrm-media-nav) {
  .thtrm-layout {
    &.thtrm-layout-halfs {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-thirds {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-fourths {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: $thtrm-media-tablet) {
  .thtrm-layout {
    &.thtrm-layout-halfs {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-thirds {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-fourths {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: $thtrm-media-laptop) {
  .thtrm-layout {
    grid-gap: 1.5rem;
    padding: 1.5rem;
    &.thtrm-layout-halfs {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-thirds {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.thtrm-layout-fourths {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (min-width: $thtrm-media-widescreen) {
  .thtrm-layout {
    display: grid;
    grid-gap: 1.5rem;
    &.thtrm-layout-halfs {
      grid-template-columns: 1fr 1fr;
    }
    &.thtrm-layout-thirds {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.thtrm-layout-fourths {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
