.thtrm-media {
  align-items: center;
  display: grid;
  grid-template-columns: 200px 1fr;
  
  &__asset {
    grid-column: 1;
  }
  &__body {
    grid-column: 2;
  }
}

.thtrm-media--top-start {
  align-items: flex-start;
}

// Short Media (Asset and Text in a Row)
.thtrm-media-short {
  display: flex;
  flex-direction: row;

  &__body {
    padding-left: 8px;
  }
}