<footer role="contentinfo" class="thtrm-l-footer">
  <div class="thtrm-l-constraint">
    <ul class="thtrm-l-footer__list">
      <li><a href="http://thoughtram.io" title="Home">Home</a></li>
      <li><a href="http://thoughtram.io/about-us.html" title="About us">About us</a></li>
      <li><a href="http://thoughtram.io/products.html" title="Products">Products</a></li>
      <li><a href="http://thoughtram.io/training.html" title="Training">Training</a></li>
      <li><a href="http://blog.thoughtram.io" title="thoughtram blog">Blog</a></li>
    </ul>
  </div>
  <div class="thtrm-l-footer__bottom">
    <div class="thtrm-l-constraint clear">
      <div class="thtrm-m-footer__bottom__logo-slogan">
        <img src="/css/images/thoughtram-brain-white.png" alt="thoughtram logo">
        <p>We are <img alt="thoughtram" src="/css/images/thoughtram-logo-line-white.png"></p>
      </div>
      <p>&copy; 2014 thoughtram UG (haftungsbeschränkt)</p>
      <ul class="thtrm-m-list thtrm-m-list--horizontally">
        <li><a href="http://github.com/thoughtram" title="thoughtram on GitHub"><i class="fa fa-github"></i></a></li>
        <li><a href="http://twitter.com/thoughtram" title="thoughtram on Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://facebook.com/thoughtram" title="thoughtram on facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://plus.google.com/thoughtramio" title="thoughtram on Google Plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="http://www.youtube.com/channel/UCBn1x1RwoQkLmC8UPCNty0Q" title="thoughtram on Youtube"><i class="fa fa-youtube"></i></a></li>
        <li><a href="http://thoughtram.io/code-of-conduct.html" title="thoughtram's code of conduct">Code of Conduct</a></li>
        <li><a href="http://thoughtram.io/impressum.html" title="Impressum">Impressum</a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="/scripts/main.js"></script>

{% if site.google_analytics %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');

</script>
{% endif %}
