<header class="site-header px2 px-responsive">
  <!-- <div class="site-header-skew"></div> -->
  <div class="wrap">
    <div class="measure">
      <a href="/" class="site-title">
        <img class="logo pulse" alt="thoughtram brain" src="/css/images/thoughtram-logo-brain.png">
        <span class="logo-line">The <img src="/css/images/thoughtram-logo-line.png"> Blog</span>
        <!-- <h1 class="site-title">The thoughtram Blog</h1> -->
      </a>
      <!-- <nav class="site-nav right"> -->
      <!--   {% include navigation.html %} -->
      <!-- </nav> -->
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
