<div class="thtrm-subscriber">
  <h3>Get updates on new articles and trainings.</h3>
  <p>Join over 1400 other developers who get our content first.</p>
  <form action="//thoughtram.us8.list-manage.com/subscribe/post?u=dfbb1507fbced5a20d9dc5698&amp;id=731f22cdca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <label for="mce-EMAIL"></label>
    <input type="email" value="" name="EMAIL" placeholder="Your email address..." required>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_dfbb1507fbced5a20d9dc5698_731f22cdca" tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" class="thtrm-cta thtrm-cta--small">
  </form>
</div>

