<div class="thtrm-m-pagination">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a title="Newer posts" class="thtrm-m-pagination__nav-link thtrm-m-pagination__nav-link--prev" href="{{ site.baseurl }}/">&larr; Newer Posts</a>
    {% else %}
      <a title="Newer posts" class="thtrm-m-pagination__nav-link thtrm-m-pagination__nav-link--prev" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">&larr; Newer Posts</a>
    {% endif %}
  {% endif %}
  <span class="thtrm-m-pagination__page-info">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a title="Older posts" class="thtrm-m-pagination__nav-link thtrm-m-pagination__nav-link--next" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older Posts &rarr;</a>
{% endif %}
</div>
