@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), local("Roboto"),
  /* url("../fonts/roboto-v16-latin-500.woff2") format("woff2"), */
  /* url("../fonts/roboto-v16-latin-500.woff") format("woff"); */
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto Medium"),
    /* url("../fonts/roboto-v16-latin-500.woff2") format("woff2"), */
    /* url("../fonts/roboto-v16-latin-500.woff") format("woff"); */
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
  /* url("../fonts/roboto-v16-latin-500italic.woff2") format("woff2"), */
  /* url("../fonts/roboto-v16-latin-500italic.woff") format("woff"); */
}
