.u-text--centered {
	text-align: center;
}

.u-flex--nowrap {
	flex-wrap: nowrap;
}

.u-flex--justify-center {
  justify-content: center;
}

.u-flex--justify-end {
	justify-content: flex-end;
}

.u-unflex {
	display: block;
}

.u-text--bigger {
	font-size: 2em;
	line-height: 1;
}

.u-min-h1 {
	min-height: 712px;
}

.u-img-fit-height {
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.u-mega-padding-bottom {
	margin-bottom: 200px;
}

.u-offscreen-text {
  position: absolute;
  left: -5000px;
}

.u-fill-space {
  height: 100%;
  width: 100%;
}


.u-color--red {
  color: var(--thtrm-amc-red);
}

.u-color--pink {
  color: var(--thtrm-rxjs-pink);
}

.u-color--grey {
  color: var(--thtrm-color-lighttext);;
}

.u-bg-lightgray {
  background-color: var(--thtrm-color-ultralightgray);
}

.u-bg--red {
  background-color: var(--thtrm-amc-red);
}

.u-bg--pink {
  background-color: var(--thtrm-rxjs-pink);
}

.u-bg--orange {
  background-color: var(--thtrm-git-orange);
}

.u-color--orange {
  color: var(--thtrm-git-orange);
}

@media screen and (min-width: $thtrm-media-nav) {
  .u-max-width--half {
    max-width: 50%;
    margin: 0 auto;
  }
}

