.thtrm-banner-text {
  font-size: 30px;

  @include tablet {
    font-size: 40px;
  }

  @include desktop {
    font-size: 54px;
  }
}

.thtrm-section {
  margin-top: 2em;

  &--is-promo {
    img {
      margin-bottom: 0.2em;
    }
  }

  @include tablet {
    &--is-promo {
      padding: 2em;
    }
  }

  &--is-promo-light {
    background: #5C8491;

    .thtrm-layout-divider-cta:hover {
      color: #5C8491;
    }
  }
}

.thtrm-section-headline {

  &--with-big-margin {
    font-size: 24px;
    margin-bottom: 1.5em;
    margin-top: 4em;
  }

  &--with-margin {
    font-size: 24px;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    position: relative;
    
    &--white {
      color: #fff;
    }

    a {
      color: #384c54;
      font-size: 14px;
      position: absolute;
      right: 0;
      text-decoration: none;
      border: 2px solid #384c54;
      padding: 0.5em;
      top: -0.2em;

      &:hover {
        background: #384c54;
        color: #fff;
      }
    }
  }

  &--centered {
    text-align: center;
  }

  &--with-border {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #f2f2f2;
  }
}

.thtrm-cta-bar {
  text-align: right;
}

.thtrm-cta {
  &--small {
    font-size: 14px;
    margin-top: 2em;
  }
}

.thtrm-table-layout-row--with-two-columns {

  &--with-padding {
    @include tablet {
      .thtrm-table-layout-cell {
        padding-left: 0.8em;

        &:first-child {
          padding-right: 0.8em;
          padding-left: 0;
        }
      }
    }
  }
}

.thtrm-instructor { height: 350px; }
.thtrm-instructor-text { font-size: 16px; line-height: 1.4; }
.thtrm-instructor-name { font-size: 20px; }
.thtrm-instructor-cta { font-size: 14px; }
.thtrm-instructor--pascal { background-image: url('/images/instructor-pascal.jpg'); }
.thtrm-instructor--christoph { background-image: url('/images/instructor-christoph.jpg'); }

.thtrm-three-column-list {

  li {
    width: 100%;
    display: block;
  }

  &--with-padding {
    li {
      margin-top: 2em;
    }
  }

  @include desktop {
    margin-left: -1.4em;
    margin-right: -1.4em;

    &--with-padding {
      li {
        padding: 0.8em;
      }
    }

    li {
      width: 32.33%;
      display: inline-block;
      vertical-align: top;
      margin-top: 1em;
    }

  }
}

.thtrm-constraint--slim {

 padding-left: 2em;
 padding-right: 2em;

  @include tablet {
    padding-left: 7em;
    padding-right: 7em;
  }

  @include desktop {
    padding-left: 11em;
    padding-right: 11em;
  }
}

.thtrm-banner {
  // background-color: #62818F;
  background-blend-mode: multiply;
}

.sub-site .thtrm-banner-container {

  padding: 8em 0.5em 4em;

  span {
    color: #fff;
    display: block;
    margin-top: 2em;
    font-style: italic;
    font-size: 14px;
    line-height: 1.5;

    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }

    @include desktop {
      font-size: 16px;
      margin-top: 4em;
    }
  }

  @include tablet {
    padding-top: 14em;
    padding-bottom: 6em;
  }
}

.thtrm-ad { display: none; }
.thtrm-ad--visible { display: block; }
