.thtrm-m-hint-box {
  margin-top: 1em;
  background: #F5F7BB;
  padding: 1em;
  border: 2px solid #EBEF7B;
  border-radius: 0.3em;

  p {
    padding-top: 0.2em;
    text-align: left;
    font-size: 18px;
  }

  strong {
    font-weight: normal;
    font-size: 20px;
  }
}
