.thtrm-m-pagination {
  text-align: center;
  margin-top: 3em;
  margin-bottom: -2em;
  color: #888;

  @media all and (min-width: 990px) {
    margin-top: 4em;
    margin-bottom: -8em;
  }
}

.thtrm-m-pagination__nav-link {
  color: #555;
  border-radius: 0.3em;
  padding: 0.5em;
  text-decoration: none;

  &:visited {
    color: #888;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: #F0f0f0;
    color: #888;
  }
}

.thtrm-m-pagination__nav-link--prev {
  margin-right: 1em;
}

.thtrm-m-pagination__nav-link--next {
  margin-left: 1em;
}
