.thtrm-table-layout {
  display: block;
  width: 100%;

  @include tablet {
    display: table;
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
  }

  &--space {
    margin-top: 3em;
  }
  &--slim-space {
    margin-top: 1em;
  }

  &--filled {
    background: #384c54;
  }
  &--filled-space {
    background: #384c54;
    border-top: 2em solid #384c54;
  }
  &--filled-space + &--filled-space {
    border-top: none;
  }
  &--filled-space.thtrm-table-layout--last {
    border-bottom: 2em solid #384c54;
    border-top: none;
  }
}

.thtrm-table-layout-row {
  @include tablet {
    display: table-row;
    overflow: hidden;
  }
}

.thtrm-table-layout-cell {
  vertical-align: top;
  height: 100%;

  @include tablet {
    display: table-cell;

    .thtrm-table-layout-row--with-two-columns & {
      width: 50%;

      &.thtrm-teaser-image {
        padding-bottom: 0;
      }
    }

    .thtrm-table-layout-row--with-two-columns.thtrm-table-layout-row--2-3 & {
      width: 31.6%;
      &:first-child {
        width: 68.4%;
      }
    }

    .thtrm-table-layout-row--with-three-columns & {
      width: 33.333333%;
    }

    .thtrm-table-layout-row--with-four-columns & {
      width: 25%;
    }
  }
  &--bordered {
    padding: 3em;
    box-shadow: inset 0 0 0 20px #384c54, inset 0 0 0 22px #fff;

    .thtrm-topic-box-content {
      padding: 0;
      border: none;
    }
    .thtrm-topic-box {
      padding: 0;
    }
  }
}

