.thtrm-m-article {

  margin-top: 3em;

  > a {
    color: #333;
    text-decoration: none;

    &:hover {
      .thtrm-m-article__title {
        color: #4D8799;
      }
    }
  }

  > p {
    text-align: left;
    font-size: 18px;
    padding-top: 0.8em;
    font-weight: 400;

    @media all and (min-width: 800px) {
      font-size: 20px;
      padding-top: 1.2em;
    }

    a {
      font-weight: 400;
    }

    code {
      font-size: 18px;
    }

  }

  ul {
    font-weight: 400;

    li {
      padding-left: 0;
      list-style: disc;
      margin-top: 0.5em;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      color: #333;
    }
  }

  iframe {
    width: 100%;
    margin-top: 1.5em;
    height: 12em;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 1.5em;
    p {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      text-align: left;
      font-style: italic;
      color: #999;
      font-weight: 400;
      font-size: 18px;
      display: inline;
    }

    &:before {
      color: #ccc;
      content: "\"";
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
      /* margin: 14px; */
      font-size: 60px;
      font-style: italic;
    }
  }

  > h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: 1em;

    @media all and (min-width: 800px) {
      font-size: 26px;
    }
  }

  @media all and (min-width: 800px) {
    margin: 0 auto;
    margin-top: 5em;
    width: 90%;
  }
}

.thtrm-m-article__date {
  padding-top: 0;
  color: #888;
}

.thtrm-m-article__title {
  font-weight: 800;
  padding-top: 0.4em;
  line-height: 32px;
  letter-spacing: -1px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  @media all and (min-width: 800px) {
    line-height: 46px;
    font-size: 38px;
  }
}

.thtrm-m-article-author {

  margin-top: 3em;
  margin-bottom: 3em;

  img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 35%;

    @media all and (min-width: 800px) {
      max-width: 75%;
    }
  }

  a {
    color: #333;
    text-decoration: none;
  }

  span {
    display: block;
    text-align: center;
    color: #555;
    font-weight: 400;
    margin-top: 0.8em;
  }
}

.thtrm-m-article__footer {

  border-top: 1px solid #ddd;
  margin-top: 2.5em;

  p {
    text-align: left;
    font-weight: 400;
  }
}

.thtrm-l-main--blog {

  .thtrm-m-article__date {
    text-align: left;
    font-size: 16px;
  }

  .thtrm-m-article__summary {
    text-align: left;
    font-size: 18px;
    padding-top: 0.8em;
    font-weight: 400;
  }
}

.thtrm-m-section__content--blog-index {
  .thtrm-m-article {
    @media all and (min-width: 800px) {
      width: 70%;
    }
  }
}

.thtrm-m-section__content--blog-post {

  [class^="thtrm-l-grid-u--"], [class*="thtrm-l-grid-u--"] {
    margin-top: 0;
  }

  .thtrm-m-article__title {
    line-height: 42px;
    font-size: 36px;
    padding-top: 0;

    @media all and (min-width: 800px) {
      font-size: 44px;
      line-height: 52px;
    }

  }
}
