.thtrm-instructor {
  background-color: #90BAC7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  text-align: center;
  position: relative;
  height: 400px;
  overflow: hidden;

  @include tablet {
    height: 450px;
  }

  &--christoph {
    background-image: url('/images/author-christoph-bw.jpg');
    background-color: #90BAC7;
  }

  &--thomas {
    background-image: url('/images/thomas_high_res.png');
    background-color: #90BAC7;
  }

  &--almero {
    background-image: url('/images/user-story-almero.jpg');
    background-color: #90BAC7;
  }

  &--pascal {
    background-image: url('/images/author-pascal-bw.jpg');
    background-color: #90BAC7;
  }

  &.thtrm-instructor--has-overlay {
    &:hover {
      .thtrm-instructor-overlay {
        transform: translateX(0%);
      }

      .thtrm-instructor-overlay-trigger {
        opacity: 0;
      }

      .thtrm-instructor-content {
        .thtrm-instructor-name,
        .thtrm-instructor-text {
          opacity: 0;
        }
      }
    }
  }
}

.thtrm-instructor-overlay-trigger {
  color: rgba(255,255,255,0.6);
  font-size: 58px;
  left: 50%;
  margin-left: -29px;
  position: absolute;
  top: 0.1em;
  cursor: pointer;
  transition: 300ms ease opacity;
  transition-delay: 300ms;
}


.thtrm-instructor-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(56,76,84,0.7);
  padding: 4em;
  padding-top: 5em;
  z-index: 2;
  position: absolute;
  right: 0;
  transform: translatey(-100%);
  transition: 300ms ease transform;
  transition-delay: 300ms;

  @include phablet {
    padding-top: 8em;
  }

  @include tablet {
    padding: 2em;
    padding-top: 5em;
  }
  @include desktop {
    padding: 4em;
    padding-top: 8em;
  }
}

.thtrm-instructor-content {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 2em;

  @include tablet {
    left: 2em;
    right: 2em;
    bottom: 3em;
  }
}

.thtrm-instructor-name {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  margin-bottom: 0.5em;
  transition: 300ms ease opacity;
  transition-delay: 300ms;
}

.thtrm-instructor-text {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  transition: 300ms ease opacity;
  transition-delay: 300ms;

  &--small {
    font-size: 16px;
  }
}

.thtrm-instructor-cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;
  margin-top: 1em;
  margin-left: 0.5em;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background-color: #fff;
    color: #123742;
  }
}

