.thtrm-article {
  position: relative;
  color: #444;
  padding-top: 0;

  .highlight { margin: 0; }

  h2, p, pre, ul, iframe {
    margin-top: 20px;

    @include tablet {
      margin-top: 40px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
    margin-top: 50px;
    
    + * {
      margin-top: 0;
    }

    + iframe {
      margin-top: 20px;
    }

    a {
      border-bottom: 0;
      position: relative;
      color: #33414e;
      border-color: #33414e;

      &:hover {
        &:before {
          content: '#';
          left: -1em;
          position: absolute;
        }
      }
    }
  }

  h2 code {
    font-size: 18px;
    @include tablet {
      font-size: 24px;
    }
  }
  p, pre, ul {
    font-size: 16px;

    @include tablet {
      font-size: 18px;
    }
  }

  p, li {
    line-height: 1.8;
  }

  p {
    code {
      background-color: rgba(98, 167, 190, 0.22);
      padding: 3px;
      font-size: 15px;

      @include tablet {
        font-size: 17px;
      }
    }
  }

  a {
    color: #62a7be;
    text-decoration: none;
    border-bottom: 1px dotted #62a7be;
  }

  li {
    margin-top: 10px;
    list-style: disc;
    margin-left: 1em;
  }

  pre {
    padding: 0.8em;
    line-height: 1.5;
    overflow: auto;

    code {
      @include tablet {
        font-size: 18px;
      }
    }
  }

  img {
    max-width: 100%;
  }

  iframe {
    width: 100%;
    height: 200px;

    @include bigPhone {
      height: 300px;
    }

    @include phablet {
      height: 380px;
    }

    @include tablet {
      height: 432px;
    }
  }

  blockquote {
    font-style: italic;
    color: #777;
    font-size: 1.2em;
    line-height: 30px;
  }

  .thtrm-cta {
    text-decoration: none;
    border-bottom: 2px solid #384c54;
    color: #384c54;

    &:hover {
      color: #fff;
    }
  }
}


.thtrm-article-author {
  padding: 25px;
  border: 3px solid #f2f2f2;
  
  @media screen and(min-width: 420px) {
    display: table;
    width: 100%;
  }
  
  &-matter {
    margin-top: 15px;
    text-align: left;
    
    @media screen and(min-width: 420px) {
      display: table-cell;
      margin-top: 0;
      padding-left: 30px;
      vertical-align: top;
      width: 74%;
    }
    
    * {
      color: #333;
    }
  }
  &-avatar {
    @media screen and(min-width: 420px) {
      display: table-cell;
      vertical-align: top;
    }
    
    img {
      max-width: 100%;
    }
  }
  &-text {
    margin-bottom: 20px;
    color: #666666;
    line-height: 1.4;
  }
  &-name {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 24px;
  }
  &-cta {
    display: inline-block;
    padding: 5px 10px;
    vertical-align: middle;
    border: 3px solid #333;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
      background: #333;
      color: #fff;
    }
  }
  &-cta-twitter {
    border-color: #62a7be;
    color: #62a7be;
    
    &:hover {
      background: #62a7be;
      color: #fff;
    }
  }
}
