<!--
  This is the main footer for the website. It is included on every page.

  It is very basic. It has some text and a link back to the home page of the
  site.

  It includes the google analytics template from /layouts/chrome/ga.html

  It also closes the <body> and <html> tags for each page.
-->

{{ template "chrome/ga.html" . }}

<footer class="footer">
    <div class="container">
        <ul class="footer__socialize">
            <li class="footer__socialize__item"><a title="The thoughtram blog" href="http://thoughtram.io"><i class="fa fa-pencil"></i> /website</a></li>
            <li class="footer__socialize__item"><a title="thoughtram on Google Plus" href="https://plus.google.com/u/0/113790038676525981961/posts"><i class="fa fa-google-plus-square"></i> +thoughtram</a></li>
            <li class="footer__socialize__item"><a title="thoughtram on Twitter" href="http://twitter.com/thoughtram"><i class="fa fa-twitter-square"></i> @thoughtram</a></li>
            <li class="footer__socialize__item"><a title="thoughtram on GitHub" href="http://github.com/thoughtram"><i class="fa fa-github"></i> /thoughtram</a></li>
        </ul>
        <p class="footer__logo-line">We are <img alt="thoughtram logo line" src="thoughtram_logo-line_white.png"></p>
        <img class="footer__logo-brain" src="thoughtram_logo_brain_negative.png" alt="thoughtram logo">
    </div>
</footer>
</body>
</html>
