<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="We write about technical things that we are working with and upcoming events that we are either running or attending to. Read about our latest thoughts.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articles by thoughtram</title>
    <meta name="google-site-verification" content="o9eGPEgIETEqYGombq7NiQuBIB_qa6gz1yAL7PxKyK0">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#4D8799">
    <link rel="icon" sizes="192x192" href="/images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="thoughtram">
    <link rel="apple-touch-icon" href="/images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#4D8799">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:description" content="We write about technical things that we are working with and upcoming events that we are either running or attending to. Read about our latest thoughts.">
    <meta property="og:url" content="http://blog.thoughtram.io">
    <meta property="og:site_name" content="Articles by thoughtram">
    <meta property="og:image" content="http://blog.thoughtram.io/images/thoughtram-brain-og.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Articles by thoughtram">
    <meta property="twitter:site" content="thoughtram">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css">
  </head>
  <body>
    <!-- Add your site or app content here -->

    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="thtrm-header" role="banner">
      <div class="thtrm-header-bar">
        <div class="thtrm-constraint">
          <a href="/" class="thtrm-header-logo-link" title="thoughtram.io Start Page"><h1 class="thtrm-header-logo">thoughtram</h1></a>
          <div class="thtrm-header-menu-wrapper">
            <span role="button" tabindex="0" class="thtrm-header-menu-label">Menu</span>
            <ul class="thtrm-header-menu">
              <li><a title="Training" class="thtrm-header-menu-item" href="/training.html">Training</a></li>
              <li><a title="Code Review" class="thtrm-header-menu-item" href="/code-review.html">Code Review</a></li>
              <li><a title="Blog" class="thtrm-header-menu-item active" href="http://blog.thoughtram.io">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main role="main" class="thtrm-main">
      <div class="thtrm-constraint">

        <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Popular <a title="RSS Feed" href="http://feeds.feedburner.com/thoughtram">RSS Feed</a></h2>

        <div class="thtrm-table-layout">
          <div class="thtrm-table-layout-row thtrm-table-layout-row--with-two-columns thtrm-table-layout-row--2-3">
            <div class="thtrm-table-layout-cell">

              <a title="{{site.posts[0].title}}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,rgba(0,0,0,0.65) 100%), url('{{ site.posts[0].imageUrl}}');" href="{{site.posts[0].url | prepend: site.baseurl}}" class="thtrm-promo-item">
                <div class="thtrm-promo-item-info">

                  {% if site.posts[0].tags contains 'angular2' %}
                  <span class="thtrm-category-badge thtrm-category-badge--angular2">Angular 2</span>
                  {% endif %}

                  {% if site.posts[0].tags contains 'git' %}
                  <span class="thtrm-category-badge thtrm-category-badge--git">Git</span>
                  {% endif %}

                  {% if site.posts[0].tags contains 'rust' %}
                  <span class="thtrm-category-badge thtrm-category-badge--rust">Rust</span>
                  {% endif %}

                  <h2>{{ site.posts[0].title }}</h2>
                  <span><i class="material-icons">schedule</i> {{ site.posts[0].date | date: "%b %-d, %Y" }}</span>
                    
                  <span class="thtrm-promo-item-info-author">
                    <i class="material-icons">create</i>
                    {% if site.posts[0].author == 'pascal_precht' %}
                      Pascal Precht 
                    {% else if site.posts[0].author == 'christoph_burgdorf' %}
                      Christoph Burgdorf
                    {% endif%}
                  </span>
                </div>
              </a>

            </div>
            <div class="thtrm-table-layout-cell">
              <a title="{{site.posts[1].title}}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,rgba(0,0,0,0.65) 100%), url('{{ site.posts[1].imageUrl}}');" href="{{site.posts[1].url | prepend: site.baseurl}}" class="thtrm-promo-item thtrm-promo-item--sub">
                <div class="thtrm-promo-item-info">

                  {% if site.posts[1].tags contains 'angular2' %}
                  <span class="thtrm-category-badge thtrm-category-badge--angular2">Angular 2</span>
                  {% endif %}

                  {% if site.posts[1].tags contains 'git' %}
                  <span class="thtrm-category-badge thtrm-category-badge--git">Git</span>
                  {% endif %}

                  {% if site.posts[1].tags contains 'rust' %}
                  <span class="thtrm-category-badge thtrm-category-badge--rust">Rust</span>
                  {% endif %}

                  <h3>{{ site.posts[1].title }}</h3>
                  <span><i class="material-icons">schedule</i> {{ site.posts[1].date | date: "%b %-d, %Y" }}</span>
                  
                  <span class="thtrm-promo-item-info-author">
                    <i class="material-icons">create</i>
                    {% if site.posts[1].author == 'pascal_precht' %}
                    Pascal Precht 
                    {% else if site.posts[1].author == 'christoph_burgdorf' %}
                    Christoph Burgdorf
                    {% endif%}
                  </span>
                </div>
              </a>
              <a title="{{site.posts[2].title}}" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 2%,rgba(0,0,0,0.65) 100%), url('{{ site.posts[2].imageUrl}}');" href="{{site.posts[2].url | prepend: site.baseurl}}" class="thtrm-promo-item thtrm-promo-item--sub">
                <div class="thtrm-promo-item-info">

                  {% if site.posts[2].tags contains 'angular2' %}
                  <span class="thtrm-category-badge thtrm-category-badge--angular2">Angular 2</span>
                  {% endif %}

                  {% if site.posts[2].tags contains 'git' %}
                  <span class="thtrm-category-badge thtrm-category-badge--git">Git</span>
                  {% endif %}

                  {% if site.posts[2].tags contains 'rust' %}
                  <span class="thtrm-category-badge thtrm-category-badge--rust">Rust</span>
                  {% endif %}

                  <h3>{{ site.posts[2].title }}</h3>
                  <span><i class="material-icons">schedule</i> {{ site.posts[2].date | date: "%b %-d, %Y" }}</span>
                  <span class="thtrm-promo-item-info-author">
                    <i class="material-icons">create</i>
                    {% if site.posts[2].author == 'pascal_precht' %}
                    Pascal Precht 
                    {% else if site.posts[2].author == 'christoph_burgdorf' %}
                    Christoph Burgdorf
                    {% endif%}
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="thtrm-constraint">
        <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Latest</h2>
        <div class="thtrm-table-layout">
          <div class="thtrm-table-layout-row thtrm-table-layout-row--with-two-columns thtrm-table-layout-row--with-two-columns--with-padding">
            <div class="thtrm-table-layout-cell">

              <div class="thtrm-article-card" href="{{ site.posts[3].url | prepend: site.baseurl }}" title="{{site.posts[3].title}}">
                <div class="thtrm-article-card-image" style="background-image: url({{ site.posts[3].imageUrl }});"></div>
                <div class="thtrm-article-card-content">

                  <span class="thtrm-article-card-date"><i class="material-icons">schedule</i> {{ site.posts[2].date | date: "%b %-d, %Y" }}</span>

                  <span class="thtrm-article-card-author">
                    <i class="material-icons">create</i>
                    {% if site.posts[2].author == 'pascal_precht' %}
                    Pascal Precht 
                    {% else if site.posts[2].author == 'christoph_burgdorf' %}
                    Christoph Burgdorf
                    {% endif%}
                  </span>

                  <h2>{{ site.posts[3].title }}</h2>
                  <p>{{ site.posts[3].summary}}</p>
                  <a href="{{ site.posts[3].url | prepend: site.baseurl }}" title="{{site.posts[3].title}}" class="thtrm-cta thtrm-cta--small">Read More</a>
                </div>
              </div>

            </div>
            <div class="thtrm-table-layout-cell">
              <ul class="thtrm-article-card-list">
              {% for post in paginator.posts | offset:4 limit:(paginator.posts.size-4)  %}
              <li>
                <a class="thtrm-article-card" href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">
                  <div class="thtrm-article-card-content">
                    <span><i class="material-icons">schedule</i> {{ site.posts[2].date | date: "%b %-d, %Y" }}</span>

                    <span>
                      <i class="material-icons">create</i>
                      {% if post.author == 'pascal_precht' %}
                      Pascal Precht 
                      {% else if post.author == 'christoph_burgdorf' %}
                      Christoph Burgdorf
                      {% endif%}
                    </span>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.summary }}</p>
                  </div>
                </a>
              </li>
              {% endfor %}
              </ul>
              <div class="thtrm-cta-bar">
                <a href="#" title="All articles" class="thtrm-cta thtrm-cta--small">All articles</a>
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <section class="thtrm-section thtrm-section--is-promo">
          <img width="100" src="/images/angular2-shield-inverse.svg">
          <h3 class="thtrm-section-headline">Angular 2 Master Class</h3>
          <p class="thtrm-section-text">Learn Angular 2 in one of our upcoming public trainings or in-house workshops.</p>
          <a href="/angular2-master-class.html" title="Angular 2 Master Class" class="thtrm-layout-divider-cta">Join now</a>
        </section>
        <!-- <div class="thtrm-constraint"> -->
        <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Git</h2>
        <ul class="thtrm-three-column-list">
        {% assign counter = 0 %}
        {% for post in site.posts %}
          {% if post.categories contains 'git' %}
          {% assign counter = counter | plus: 1 %}
          {% if counter <= 6 %}
          <li>
            <a class="thtrm-article-card thtrm-article-card--transparent" href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">
              <div class="thtrm-article-card-content">
                <span><i class="material-icons">schedule</i> {{ post.date | date: "%b %-d, %Y" }}</span>

                <span>
                  <i class="material-icons">create</i>
                  {% if post.author == 'pascal_precht' %}
                  Pascal Precht 
                  {% else if post.author == 'christoph_burgdorf' %}
                  Christoph Burgdorf
                  {% endif%}
                </span>
                <h3>{{ post.title | remove: 'Exploring Angular 1.3: '}}</h3>
                <p>{{ post.summary | truncatewords: 20 }}</p>
              </div>
            </a>
          </li>
          {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        <div class="thtrm-cta-bar">
          <a href="#" title="All articles" class="thtrm-cta thtrm-cta--small">All articles</a>
        </div>
        <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Exploring Angular 1.3</h2>
        <ul class="thtrm-three-column-list">
        {% assign counter = 0 %}
        {% for post in site.posts %}
          {% if post.isExploringAngular13Article %}
          {% assign counter = counter | plus: 1 %}
          {% if counter <= 6 %}
          <li>
            <a class="thtrm-article-card thtrm-article-card--transparent" href="{{ post.url | prepend: site.baseurl }}" title="{{post.title}}">
              <div class="thtrm-article-card-content">
                <span><i class="material-icons">schedule</i> {{ post.date | date: "%b %-d, %Y" }}</span>

                <span>
                  <i class="material-icons">create</i>
                  {% if post.author == 'pascal_precht' %}
                  Pascal Precht 
                  {% else if post.author == 'christoph_burgdorf' %}
                  Christoph Burgdorf
                  {% endif%}
                </span>
                <h3>{{ post.title | remove: 'Exploring Angular 1.3: '}}</h3>
                <p>{{ post.summary | truncatewords: 20 }}</p>
              </div>
            </a>
          </li>
          {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
        <div class="thtrm-cta-bar">
          <a href="#" title="All articles" class="thtrm-cta thtrm-cta--small">All articles</a>
        </div>

        <h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Authors</h2>
        <div class="thtrm-table-layout">
          <div class="thtrm-table-layout-row thtrm-table-layout-row--with-two-columns thtrm-table-layout-row--with-two-columns--with-padding">
            <div class="thtrm-table-layout-cell">
              <div class="thtrm-instructor">
                <div class="thtrm-instructor-content">
                  <h4 class="thtrm-instructor-name">Christoph Burgdorf</h4>
                  <p><a class="thtrm-instructor-cta" href="http://twitter.com/cburgdorf" title="Christoph Burgdorf on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/cburgdorf" title="Christoph Burgdorf on GitHub">GitHub</a></p>
                </div>
              </div>
            </div>
            <div class="thtrm-table-layout-cell">
              <div class="thtrm-instructor">
                <div class="thtrm-instructor-content">
                  <h4 class="thtrm-instructor-name">Pascal Precht</h4>
                  <p><a class="thtrm-instructor-cta" href="http://twitter.com/PascalPrecht" title="Pascal Precht on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/PascalPrecht" title="Pascal Precht on GitHub">GitHub</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
