---
layout: post-layout
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

{% assign author = site.data.authors[page.author] %}

<section class="thtrm-m-section">
  <div class="thtrm-l-constraint">
    <div class="thtrm-m-section__content thtrm-m-section__content--blog-post">
      <div class="thtrm-l-grid-units">
        <div class="thtrm-l-grid-u--1-1 thtrm-l-grid-u--medium-3-4">
          <article class="thtrm-m-article">
            <h1 class="thtrm-m-article__title">{{ page.title }}</h1>
            <p class="thtrm-m-article__date">{{ page.date | date: "%b %-d, %Y" }} - {% if page.update_date %}Updated: {{ page.update_date | date: "%b %-d, %Y" }} -{% endif %}{{ minutes }} minute read</p>
            {{ content }}
            <footer class="thtrm-m-article__footer">
              <p>Liked the article and found it useful? How about sharing it with others on <a title="thoughtram on twitter" href="http://twitter.com/thoughtram">twitter</a>? We'd love to get your feedback!</p>
              <p>You might also be interested in subscribing to our <a title="RSS Feed" href="http://blog.thoughtram.io/feed"><i class="fa fa-rss"></i> RSS Feed</a>.</p>
            </footer>
          </article>
        </div>
        <aside class="thtrm-l-grid-u--1-1 thtrm-l-grid-u--medium-1-4">
          {% if author %}
          <div class="thtrm-m-article-author">
            <img alt="Picture of {{author.name}}" src="/css/images/{{ author.gravatar }}.jpeg">
            <span>Written by <a title="{{author.name}} on twitter" href="{{author.web}}">{{ author.name }}</a></span>
          </div>
          {% endif %}
          <div class="thtrm-m-book-ad">
            <h4 class="thtrm-m-book-ad__title">Rebase</h4>
            <p class="thtrm-m-book-ad__sub-title">The complete guide on rebasing in Git</p>
            <img class="thtrm-m-book-ad__cover" alt="Rebase book cover" src="/images/rebase-book.png">
            <a class="thtrm-m-book-ad__buy-btn" href="https://leanpub.com/rebase-the-complete-guide-on-rebasing-in-git" title="Rebase on Leanpub">Learn More</a>
          </div>
          <!-- <iframe width="100%" height="400" src="http://leanpub.com/rebase-the-complete-guide-on-rebasing-in-git/embed" frameborder="0" allowtransparency="true"></iframe> -->
        </aside>
      </div>
    </div>
  </div>
</section>

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
