<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <meta name="google-site-verification" content="o9eGPEgIETEqYGombq7NiQuBIB_qa6gz1yAL7PxKyK0" />

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#384c54">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="thoughtram">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#384c54">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="http://blog.thoughtram.io/finish-newsletter-subscription">
    <meta property="og:image" content="http://thoughtram.io/images/intro-background-desktop.jpg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:site" content="thoughtram.io">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css">
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" class="thtrm-home">
    <!-- Add your site or app content here -->

    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="thtrm-header" role="banner">
      <div class="thtrm-header-bar">
        <div class="thtrm-constraint">
          <a href="http://thoughtram.io" class="thtrm-header-logo-link" title="thoughtram.io Start Page"><h1 class="thtrm-header-logo">thoughtram</h1></a>
          <div class="thtrm-header-menu-wrapper">
            <span role="button" tabindex="0" class="thtrm-header-menu-label">Menu</span>
            <ul class="thtrm-header-menu">
              <li><a title="Training" class="thtrm-header-menu-item" href="http://thoughtram.io/training.html">Training</a></li>
              <li><a title="Code Review" class="thtrm-header-menu-item" href="http://thoughtram.io/code-review.html">Code Review</a></li>
              <li><a title="Casts" class="thtrm-header-menu-item " href="http://casts.thoughtram.io">Casts</a></li>
              <li><a title="Blog" class="thtrm-header-menu-item" href="/">Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main role="main" class="thtrm-main">
      {{ content }}
    </main>
    {% include footer.html %}

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
